/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(dot.png);
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: center;
}

h1 {
    color: #333;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    font-size: 1.2em;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
